In [13]:
import pandas as pd 
dt=pd.read_csv('excel.csv')
import matplotlib.pyplot as plt

In [3]:
gender_count=dt['Gender'].value_counts()

In [4]:
gender_count

Gender
Female    17
Male      13
Name: count, dtype: int64

In [5]:
dt["Gender"]=dt["Gender"].str.strip().str.title().map({"Female":1,"Male":0})
print(dt.head())

   Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date  \
0          63             84             71               77            2020
1          70             80             65               99            2021
2          65             86             61               97            2019
3          67             92             68               75            2021
4          77             84             60               82            2019

   Gender
0       0
1       1
2       0
3       0
4       0

In [6]:
dt.isnull()

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Gender
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False

In [7]:
dt.isnull

<bound method DataFrame.isnull of     Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date  \
0           63             84             71               77            2020
1           70             80             65               99            2021
2           65             86             61               97            2019
3           67             92             68               75            2021
4           77             84             60               82            2019
5           65             94             61               86            2021
6           76             79             79               90            2019
7           62             91             66               99            2019
8           77             92             77               99            2020
9           64             79             78               85            2020
10          63             84             73               79            2019
11          61             91             65               85            2019
12          73             82             77               83            2021
13          61             91             70               75            2021
14          60             94             63               94            2021
15          79             83             61               75            2020
16          61             86             71               84            2019
17          62             95             72               78            2019
18          77             85             76               98            2019
19          64             91             79               82            2020
20          69             80             68               97            2019
21          75             89             63               84            2020
22          78             95             76               87            2021
23          76             78             77               84            2020
24          80             85             79               93            2020
25          72             85             79               87            2019
26          70             77             72               89            2019
27          71             87             71               98            2021
28          75             88             75               88            2021
29          60             93             76               90            2021

    Gender
0        0
1        1
2        0
3        0
4        0
5        0
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       1
21       1
22       1
23       1
24       1
25       0
26       1
27       1
28       1
29       0  >

In [9]:
m_v=dt['Math_Score'].mean()
dt['Math_Score'].fillna(value=m_v, inplace=True)
dt

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Gender
0,63,84,71,77,2020,0
1,70,80,65,99,2021,1
2,65,86,61,97,2019,0
3,67,92,68,75,2021,0
4,77,84,60,82,2019,0
5,65,94,61,86,2021,0
6,76,79,79,90,2019,1
7,62,91,66,99,2019,1
8,77,92,77,99,2020,1
9,64,79,78,85,2020,1
10,63,84,73,79,2019,1
11,61,91,65,85,2019,1
12,73,82,77,83,2021,1
13,61,91,70,75,2021,0
14,60,94,63,94,2021,0
15,79,83,61,75,2020,0
16,61,86,71,84,2019,0
17,62,95,72,78,2019,0
18,77,85,76,98,2019,0
19,64,91,79,82,2020,1
20,69,80,68,97,2019,1
21,75,89,63,84,2020,1
22,78,95,76,87,2021,1
23,76,78,77,84,2020,1
24,80,85,79,93,2020,1
25,72,85,79,87,2019,0
26,70,77,72,89,2019,1
27,71,87,71,98,2021,1
28,75,88,75,88,2021,1
29,60,93,76,90,2021,0

In [10]:
dt = dt.drop('Club_Join_Date', axis=1)

In [14]:
col = ['Math_Score', 'Reading_Score' , 'Writing_Score','Placement_Score']
dt.boxplot(col)